
html {
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#icon {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.green-font {
  color: green
}

#img_bandeira {
  aspect-ratio: 5 / 3;
  width: 200px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

input {
  background-color: rgb(184, 184, 184);
  outline: none;
  border: 0;
  border-radius: 10px 10px 0 0;
  padding: 10px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

button {
  padding: 10px;

  border: 0;
  border-radius: 0 0 10px 10px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 700;

  transition: all 200ms ease-in-out;
}

#btn_guess:hover,
#btn_guess:focus {
  background-color: rgba(15,163,79,1);
  outline: 0;

  -webkit-box-shadow: 0px 0px 20px 10px rgba(15,163,79,1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(15,163,79,1);
  box-shadow: 0px 0px 20px 10px rgba(15,163,79,1);

  cursor: pointer;
}

#btn_desistir {

  background-color: crimson;
  padding: .375rem .75rem;

  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;
}

#chutes {
  margin: 10px 0 10px;
  min-width: 100%;
}

.chute:only-child {
  border-radius: 5px !important;
}

.chute:first-child {
  border-radius: 5px 5px 0 0;
}

.chute:last-child {
  border-radius: 0 0 5px 5px ;
}

.chute {
  min-width: 30%;

  font-size: 24px;
  font-weight: bold;
  margin: 5px auto;
  text-align: center;

  background-color: rgb(149, 149, 149);
  line-break: anywhere;
}

#config-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  aspect-ratio: 1/1;

  border-radius: 15px;

  background-color: rgba(204, 204, 204, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);


  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#option h1 {
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
}